Labs/WFServices/After/Client/Service References/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/RequestLoan" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RequestLoan" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ApplyResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApplicationId" type="xs:int" />
      <xs:element minOccurs="0" name="MonthlyRepayment" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ApplyResponse" nillable="true" type="tns:ApplyResponse" />
</xs:schema>