Labs/WFServices/After/Client/Service References/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://develop.com/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://develop.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://develop.com/Imports">
      <xsd:import schemaLocation="http://localhost:8653/Service1.xamlx?xsd=xsd0" namespace="http://develop.com/" />
      <xsd:import schemaLocation="http://localhost:8653/Service1.xamlx?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8653/Service1.xamlx?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RequestLoan" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILoanService_Apply_InputMessage">
    <wsdl:part name="parameters" element="tns:Apply" />
  </wsdl:message>
  <wsdl:message name="ILoanService_Apply_OutputMessage">
    <wsdl:part name="parameters" element="tns:ApplyResponse" />
  </wsdl:message>
  <wsdl:message name="ILoanService_Confirm_InputMessage">
    <wsdl:part name="parameters" element="tns:Confirm" />
  </wsdl:message>
  <wsdl:message name="ILoanService_Confirm_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConfirmResponse" />
  </wsdl:message>
  <wsdl:portType name="ILoanService">
    <wsdl:operation name="Apply">
      <wsdl:input wsaw:Action="http://develop.com/ILoanService/Apply" message="tns:ILoanService_Apply_InputMessage" />
      <wsdl:output wsaw:Action="http://develop.com/ILoanService/ApplyResponse" message="tns:ILoanService_Apply_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Confirm">
      <wsdl:input wsaw:Action="http://develop.com/ILoanService/Confirm" message="tns:ILoanService_Confirm_InputMessage" />
      <wsdl:output wsaw:Action="http://develop.com/ILoanService/ConfirmResponse" message="tns:ILoanService_Confirm_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>