Labs/IoCAndMocking/before/WorkTrekServiceClient/Service References/WorkTrekReference/WorkTrek1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9000/WorkTrek?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WorkTrekModel" />
  <xs:element name="GetItems">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="limit" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WorkTrekModel" minOccurs="0" name="GetItemsResult" nillable="true" type="q1:ArrayOfWorkItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>