Labs/Claims-based Identity and WIF/after/part3/PetShopClient/Service References/PetShopSvcClient/Services.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="urn:dm:petshop:data" elementFormDefault="qualified" targetNamespace="urn:dm:petshop:data" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Order">
    <xs:sequence>
      <xs:element minOccurs="0" name="Quantity" type="xs:int" />
      <xs:element minOccurs="0" name="ProductName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Comments" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Order" nillable="true" type="tns:Order" />
</xs:schema>