Labs/WFServices/After/RequestLoan/Service References/ServiceReference1/approval1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="RequestApproval">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="amount" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestApprovalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RequestApprovalResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>